<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-lime-100">
    <div class="flex gap-1 mx-10 mt-6 bg-lime-100">
        
        <a href="/elections" class="text-pink-800 hover:text-pink-600 ">All Elections</a>
        <span>></span>
    </div>
    <div class="relative flex flex-col justify-center min-h-screen overflow-hidden">
        <div
            class="w-full p-6 m-auto bg-white border-t border-purple-600 rounded shadow-lg shadow-purple-800/50 lg:max-w-md">
            <h1 class="text-3xl font-semibold text-center text-purple-700">Give A Name to Your Election</h1>
    
            <form class="mt-6" action="/elections" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div>
                    <label for="electionName" class="block text-sm text-gray-800">Election Name </label>
                    <input  id="electionName" name="electionName" 
                        class="block w-full px-4 py-2 mt-2 text-purple-700 bg-white border rounded-md focus:border-purple-400 focus:ring-purple-300 focus:outline-none focus:ring focus:ring-opacity-40">
                </div>
                    <div class="mt-6">
                        <button type="submit"
                            class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-purple-700 rounded-md hover:bg-purple-600 focus:outline-none focus:bg-purple-600">
                            Enter
                        </button>
                    </div>
            </form>
            <p class="mt-8 text-xs font-light text-center text-gray-700"> Wanna Go Back <a href="/elections"
                    class="font-medium text-purple-600 hover:underline">Click here</a></p>
        </div>
    </div>
</body>
</html>